<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> </title>
</head>

<body class="confirmation">
    <%- include('include/header.ejs', {loggedIn: false, user:''}) %>

    <h1>Confirmation required</h1>

    <form action="/resend" method="post">

        <input type="hidden" name="emailAddress" value=<%= email %>>
        <input type="hidden" name="confirmationCode" value=<%= confirmationCode %>>

        <p>A confirmation email has been send to <%= email %>.</p>
        <p>Please click the link in the email to confirm your email address!</p>

        <button type="submit">Resend Confirmation Email</button>

    </form>

</body>

</html>